[submodule "ur5_motion_control/src/robotiq_description"]
	path = ur5_motion_control/src/robotiq_description
	url = https://github.com/LearnRoboticsWROS/robotiq_description.git
[submodule "ur5_motion_control/src/ur5_gripper_control"]
	path = ur5_motion_control/src/ur5_gripper_control
	url = https://github.com/fivaoldj/ur5_gripper_control.git
[submodule "ur5_motion_control/src/realsense_gazebo_plugin"]
	path = ur5_motion_control/src/realsense_gazebo_plugin
	url = https://github.com/issaiass/realsense_gazebo_plugin.git
[submodule "ur5_motion_control/src/universal_robot"]
	path = ur5_motion_control/src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = melodic-devel
[submodule "ur5_motion_control/src/robotiq"]
	path = ur5_motion_control/src/robotiq
	url = https://github.com/filesmuggler/robotiq.git
[submodule "ur5_motion_control/src/ggcnn"]
	path = ur5_motion_control/src/ggcnn
	url = https://github.com/fivaoldj/ggcnn.git
